<h1> Triangle App </h1>
<form action="test_triangle">
  <div class="form-group">
    <label for="side_1">Side 1</label>
    <br>
    <input type="text" name="side_1" class="form-control">
    <br>
    <label for="side_2">Side 2</label>
    <br>
    <input type="text" name="side_2" class="form-control">
    <br>
    <label for="side_3">Side 3</label>
    <br>
    <input type="text" name="side_3" class="form-control">
    <br>
  </div>
  <button type="submit" class="btn btn-success">Submit!</button>
</form>
